{{page-title "Application"}}
{{outlet}}

<ul>
  {{#each @model.nodes as |item|}}
    <li>Domain: {{item.domain}}</li>
    <li>id: {{item.id}}</li>
    <li>Company: {{item.entrepreneurship.name}}</li>
  {{/each}}
</ul>
