{{page-title "Application"}}
{{outlet}}

<ul>
  {{#each @model.nodes as |item|}}
    <li>id: {{item.id}}</li>
    <li>email: {{item.email}}</li>
    <li>Active: {{item.isActive}}</li>
    <Input @type="text" @value={{item.email}}></Input>
  {{/each}}
</ul>